################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Adonetexampel/.vs/Adonetexampel
/Adonetexampel/Adonetexampel/bin/Debug/net6.0
/Adonetexampel/Adonetexampel/obj
